{% load static %}
<div class="small-container single-game">
    <div class='row'>
        <div class='col-2'>
            <h2>Your Download History</h2>
            {% for item in Downloaded_Items %}
                <div>
                    <img src="{% static 'game.img' %}" alt="Image"> 
                    <p>{{ item.game.name }} - Quantity: {{ item.quantity }}</p>
                    <p>{{ item.game.category }} - Quantity: {{ item.quantity }}</p>
                    <p>{{ item.game.rate }} - Quantity: {{ item.quantity }}</p>

                    
                </div>
            {% empty %}
                <p>No download history found.</p>
            {% endfor %}
        </div>
    </div>
</div>
