{% load static %}
<h1 style="color:green"> Your Librery</h1>
<div class="small-container game-page " >
        <div class="row">
            <div class="col">
    <table>
        <tbody><tr>
        <th></th>
        <th></th>    
    </tr>
    {% for item in downloaded %}
    <tr>
        <td>         
            <div class="game-info">
                <img src="{{ item.games_id.img.url }}" alt="" style="width:140px; height: 70;"> 
                <div>
                    <p>{{ item.games_id.game }}</p>
                    <p>{{ item.games_id.category }}</p>  
                </div>
            </div>
        </td>
        <td><input type="number" disabled value="{{ downloaded_item.games_id.quantity }}" ></td>
    </tr>
    {% endfor %}
</tbody></table>
</div>            </div>   
</div>
</div>
