{% load static %}
<div class="container-fluid background text-white pt-3 my-3" style="text-align: center; background:rgb(18, 18, 46);" >
    <div class="row">
        <div class="col"  style="width: 30px;">
            <h4>contact us</h4>
            <img src="{% static 'images/icons/faceb.webp' %}" herf="https://www.facebook.com/" width="35px">
            <img src="{% static 'images/icons/insta.png' %}">
            <img src="{% static 'images/icons/twiter.png' %}">
            <P>+1 0000000000 /  +1 00000000000</P>
            <P>game123@gmail.com</P>

        </div>
        <div class="col">
            <h4>privacy policy</h4>
            <P>When you use our services, you’re trusting us with your information. We understand this is a big responsibility and work hard to protect your information and put you in control.</P>
        </div>
        <div class="col">
            <h4>Network</h4>
            <P>www.Tendertiger.com www.Tendertiger.co.in www.OneTender.com www.SMETiger.com www.TenderCartom</P>
        </div>
    </div>
</div>    
</div>
