{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <style>
    body{
      background-color:rgb(216, 216, 216);
      padding: 20px;
    }
    div{
      display:block;
      unicode-bidi:isolated
    }


    * {
      box-sizing: border-box;
    }    
    .content {
      background-color: white;
      padding: 15px;
      width:100%;


    }
    .column {
      float: left;
      width: 20.33%;
     
    } 
  </style>
</head>
<body>

  <div class="responsive ">
    <div class="col-lg-12 img ">
      <img src="{{ instane.des_img2.url }}" style="width: 100%;"> 
      <h1 style="text-align: center; color: SeaGreen;">{{instane.des_place}}</h1>
      
        <p style="text-align: left;  padding:20px;">{{instane.place_descrip}}</i>    
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="content">
         <img src="{{ instane.img_visit1.url }}" 
         style="width: 100%;"> 
         <i>{{instane.name_visit1}} </i>
         {% comment %} <a href="{{instane.name_visit1}}">more...</p> {% endcomment %}
       </div>
     </div>
     <div class="column">
      <div class="content">
         <img src="{{ instane.img_visit2.url }}" 
         style="width: 100%;"> 
         <i>{{instane.name_visit2}} </i>
       </div>
     </div>
     <div class="column">
      <div class="content">
         <img src="{{ instane.img_visit3.url }}" 
         style="width: 100%;"> 
         <i>{{instane.name_visit3}} </i>
       </div>
     </div>
     <div class="column">
      <div class="content pt-2 my-2">
         <img src="{{ instane.img_visit4.url }}" 
         style="width: 100%;"> 
         <i>{{instane.name_visit4}} </i>
       </div>
     </div>
     <div class="column">
      <div class="content">
         <img src="{{ instane.img_visit5.url }}" 
         style="width: 100%;"> 
         <i>{{instane.name_visit5}} </i>
       </div>
     </div>
  </div>

  











</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</html>